<div class="row">
    <div class="col-12">

        <!-- Input con máscara -->
        <mat-form-field style="width: 100%;">
            <mat-label>Número de Teléfono *</mat-label>
            <input matInput type="text" [formControl]="formControl" [formlyAttributes]="field" [mask]="'(000) 000-0000'"
                placeholder="(___) ___-____" />
        </mat-form-field>


        <!-- Input internacional -->
        <!--<ngx-intl-tel-input class="form-control" [formControl]="formControl" [formlyAttributes]="field"
                [inputId]="'adsasd'" [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.India" [maxLength]="15" [tooltipField]="TooltipLabel.Name"
                [phoneValidation]="true" [separateDialCode]="separateDialCode" name="phone" formControlName="phone">
            </ngx-intl-tel-input>-->
    </div>
</div>