

.customFile {
    display: none;
  }
  
  .custom-file-upload {
    width: 100%;
    /*border: 1px solid #ccc;*/
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
  }
  