<label for="imagen3" *ngIf="fileName == null" class="labels custom-file-upload">
    Click para seleccionar el archivo</label>

<label for="imagen3" *ngIf="fileName != null" class="labels custom-file-upload text-center">{{ fileName }}</label>

<input name="imagen3" id="imagen3" [formControl]="formControl" [formlyAttributes]="field"
    (change)="getNameFile( $event.target.files[0] )" type="file" class="customInput customFile" />