.main {
    margin: auto;
    width: 90%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 50px;
    border-radius: 15px;

    -webkit-box-shadow: -4px 13px 30px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 13px 30px -4px rgba(0,0,0,0.75);
    box-shadow: -4px 13px 30px -4px rgba(0,0,0,0.75);
}

.content{
    width: 90%;
    margin: auto;
}

.content h2 {
    margin-top: 90px;
}

#stepper{
    margin-top: 30px;
}

#terms{
    margin-top: 90px;
}

.reactiveForm {
    margin-top: 90px;
}

.buttons{
    float: left;
    margin-top: 90px;
}


.main button {
    margin-top: 20px;
    float: right;
} 

.info{
    margin-top: 50px;
}

#back{
    transform: rotate(180deg);
}



::ng-deep .mat-horizontal-stepper-header {

    /*height: 35px !important;
    width: 35px;*/
    padding: 3px 0px !important;
    border-radius: 0%;
    /*background-color: #fd5e53 !important;*/
    color: #f7f5dd;
    /*border: solid #fd5e53!important;*/
    border-width: 0px;
    margin-top: 0px;
    
    flex-direction: column-reverse !important;
    height: auto;
    
    

    .mat-step-label {
        position: relative;
        margin-top: -20px;
        margin-bottom: 5px;
        text-align: center;
        padding: 0px 30px -50px !important;
    }

}

::ng-deep .mat-horizontal-stepper-header:hover{
    background-color: white;
}

::ng-deep .mat-step-header .mat-step-icon{
    background-color: white; 
    /*border: solid #EF4B52;*/
    border: solid #757575;
 }

 ::ng-deep .mat-step-header .mat-step-icon-selected{
    background-color: white; 
    border: solid #EF4B52;
 }
 
 ::ng-deep .mat-stepper-horizontal-line {
    
    
    border-top-width: 3px !important;
    border-top-color: #757575 !important;
    
}


.selectedIndex0 {
}
@for $i from 1 through 10 {
    .selectedIndex#{$i} {
        
        @extend .selectedIndex#{$i - 1};
        ::ng-deep .mat-stepper-horizontal-line:nth-child(#{$i * 2}) {
            
            border-top-width: 3px !important;
            border-top-color: #EF4B52 !important;
            
        }

        @extend .selectedIndex#{$i - 1};
        ::ng-deep .mat-step-icon{
            background-color: white; 
            border: solid #EF4B52;
         }
    }
}


@media only screen and (max-width: 800px) {
    
    .main{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
    }
}



@media only screen and (min-width: 801px) {
    
    .main{
        width: 55%;
    }
    .content{
        width: 90%;
        margin: auto;
    }
    .animation {
        width: 70%;
        margin: auto;
    }
}


