<div class="main">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <mat-horizontal-stepper #stepper [linear]="true" id="stepper"
                        [class]="'selectedIndex' + stepper.selectedIndex + ' mat-stepper-label-position-bottom'">
                        <mat-step *ngFor="let step of steps; let index = index; let last = last" (click)="next()">
                            <ng-template style="width: 50px;" matStepLabel>{{step.info}}</ng-template>

                            <div class="animate__animated animate__fadeInRight">

                                <h2>{{step.label}}</h2>


                                <p class="text-justify" id="terms" *ngIf="step.label === 'Términos y condiciones'">
                                    {{step?.text}}
                                </p>

                                <div class="reactiveForm">
                                    <formly-form [form]="form.at(index)" [model]="model" [fields]="step.fields"
                                        [options]="options[index]">
                                    </formly-form>
                                    <div>
                                        <div class="buttons">
                                            <!-- Los tres botones con su respectiva validación -->
                                            <button *ngIf="index !== 0" matStepperPrevious class="btn btnBack"
                                                type="button" style="float: left;" (click)="prevStep(index)">
                                                <mat-icon id="back">arrow_right_alt</mat-icon> &nbsp; Atrás
                                            </button>

                                            <!-- En el ejemplo la forma de validar era [disabled]="!form.at(index).valid" pero si
                                            lo dejo así, me estalla el front, por eso le agregué el ? pero de igual manera no valida  -->
                                            <button *ngIf="!last" matStepperNext class="btn btnSuccess" type="button"
                                                [disabled]="!form.valid" (click)="nextStep(index)">Siguiente &nbsp;
                                                <mat-icon>arrow_right_alt</mat-icon></button>

                                            <button *ngIf="index === 0" matStepperNext class="btn btnBack" type="button"
                                                (click)="nextStep(index)">Cancelar &nbsp; <mat-icon>close</mat-icon>
                                            </button>

                                            <!-- De igual manera el botón de submit, no valida y está como el ejemplo -->
                                            <button *ngIf="last" class="btn btnSuccess" [disabled]="!form.valid"
                                                type="submit">Enviar &nbsp; <mat-icon>done</mat-icon></button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center info">
                    <p>Para más información, has <a href="">click aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>