.main {
    margin: auto;
    width: 90%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 25px;
    border-radius: 15px;

    -webkit-box-shadow: -4px 13px 30px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 13px 30px -4px rgba(0,0,0,0.75);
    box-shadow: -4px 13px 30px -4px rgba(17, 14, 14, 0.75);
}

.content{
    width: 90%;
    margin: auto;
}

.animation {
    width: 100%;
    margin: auto;
    padding-left: 40px;
}


.description {

    margin-top: -30px;
}

@media (min-width: 300px) and (max-width: 600px) {

    .main{
        margin-top: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .animation {
        margin-left: -40px;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    
    .main{
        margin-top: 10px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }


    .animation {
        margin-left: 120px;
    }
}

@media only screen and (min-width: 801px) {
    
    .main{
        width: 50%;
        margin: auto;
        margin-top: 50px;
    }
    .content{
        width: 80%;
        margin: auto;
    }
    .animation {
        width: 70%;
        margin: auto;
    }
}