<div class="main">
    <div class="content">
        <div class="animate__animated animate__fadeInRight">
            <div class="row">
                <div class="col-12">
                    <div class="animation">
                        <ng-lottie id="lotieAnimation" width="300px" height="300px"
                            containerClass="moving-box another-class" [options]="options"
                            (animationCreated)="animationCreated($event)"></ng-lottie>
                    </div>
                </div>
            </div>

            <div class="row text-xl-center">
                <div class="col-12">
                    <div class="text-center description">
                        <h3 class="text-uppercase">¡Gracias por confiar en nosotros!</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <button type="button" routerLink="/" class="btn btnSuccess">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>