<div class="row">
    <div class="col-12">
        <button class="btn btnSuccess" style="margin-top: -120px;" type="button" (click)=" add()"><b>Añadir
                Servicio</b></button>
    </div>
</div>
<br>
<div class="row">
    <ng-container *ngFor="let field of field.fieldGroup; let i = index;">
        <div class="col-12">
            <formly-field [field]="field"></formly-field>
        </div>
        <div class="col-4 d-flex align-items-center">
            <button class="btn btn-danger" type="button" (click)="remove(i)"><b>Eliminar</b></button>
        </div><br><br><br>
    </ng-container>
</div>