@import '~animate.css/animate.min';

html, body, h1, h2, h3, h4, h5, h6, p, a, label, small, input, select, span, button {

    font-family: 'Poppins', sans-serif;
}
html, body { height: 100%; }

.btnSuccess{
    background-color: rgb(44,44,53);
    color: white;
    display: inline-flex;
}

.btnSuccess:hover{
    background-color:rgb(78,78,85);
    color: white;
    
}


.btnBack{
    background-color: white;
    color:  rgb(44,44,53);
    display: inline-flex;
    margin-right: 10px;
    border: solid 2px white;
}

.btnBack:hover{
    border: solid 2px rgb(44,44,53);
}

